<%= form_with(model: ocorrencium, local: true) do |form| %>
  <% if ocorrencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ocorrencium.errors.count, "error") %> prohibited this ocorrencium from being saved:</h2>

      <ul>
      <% ocorrencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :foto %>
    <%= form.text_field :foto, id: :ocorrencium_foto %>
  </div>

  <div class="field">
    <%= form.label :descreva_o_ocorrido %>
    <%= form.text_area :descricao, id: :ocorrencium_descricao %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, id: :ocorrencium_data %>
  </div>

  <div class="field">
    <%= form.label :onde_ocorreu %>
    <%= form.text_field :localizacao, id: :ocorrencium_localizacao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
