
<div style="text-align: right; background: #4682b4; height: 50px">
  <br>
<%= link_to 'Novo Usuário', new_usuario_path, class: 'css_class', style: 'color:#FFFFFF' %>
&nbsp;&nbsp;&nbsp;
<%= link_to 'Nova Ocorrência', new_ocorrencium_path, class: 'css_class', style: 'color:#FFFFFF' %>
</div>
<br>
<center><img src="https://pbs.twimg.com/media/DOXsXnhXkAE-O1S.jpg" alt="Logo HelpPets"></center>
<br>
<br>
<br>
<div style="text-align: center">
<h1>Ocorrências</h1>
  <p> Encontrou um pet abandonado ou em situação de risco? Cadastre-se no site e registre sua ocorrência. </p>
<br>

<% @ocorrencia.each do |ocorrencium| %>
<div>
  <%= image_tag(ocorrencium.foto, size:"500x370", :alt => "Dog na bad") %>
<br>  
  <%= ocorrencium.descricao %>
  <br>
   <%= ocorrencium.localizacao %>
  <br>
  <%= ocorrencium.data %>
  <br>
  <%= link_to 'Exibir', ocorrencium %>
  <%= link_to 'Editar', edit_ocorrencium_path(ocorrencium) %>
  <%= link_to 'Excluir', ocorrencium, method: :delete, data: { confirm: 'Tem certeza?' } %>
 <br> 
 <br>
 <br>
</div>
<% end %>
</div>
<br>
<div style= "text-align: center; background: #4682b4; height: 180px">
  <br>
<h2><font style="color:white"> Feito com <3 no Rails Gils BH 2017</font></h2>
  <p><font style="color:white">Por Lorrany, Mariane, Marina, Priscila e Sandra.</font></p>
 <font style="color:white"><p>Tutoras: Edlaine e Nadja. </font></p>
</div>

