<p id="notice"><%= notice %></p>
<%= link_to 'Novo Usuario', new_usuario_path %>
<center><img src="https://pbs.twimg.com/media/DOXsXnhXkAE-O1S.jpg" alt="Logo HelpPets"></center>
<br>
<br>
<br>
<h1>Ocorrências</h1>
<br>

<% @ocorrencia.each do |ocorrencium| %>
<div>
  <%= image_tag(ocorrencium.foto, size:"200x170", :alt => "Dog na bad") %>
<br>  
  <%= ocorrencium.descricao %>
  <br>
  <%= ocorrencium.data %>
  <br>
  <%= ocorrencium.localizacao %>
  <br>
  <%= link_to 'Exibir', ocorrencium %>
  <%= link_to 'Editar', edit_ocorrencium_path(ocorrencium) %>
  <%= link_to 'Excluir', ocorrencium, method: :delete, data: { confirm: 'Tem certeza?' } %>
 <br> 
 <br>
 <br>
</div>
<% end %>

<br>

<%= link_to 'Nova Ocorrencia', new_ocorrencium_path %>
