<p id="notice"><%= notice %></p>

<p>
  <strong>Foto:</strong>
  <%= @ocorrencium.foto %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @ocorrencium.descricao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @ocorrencium.data %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @ocorrencium.localizacao %>
</p>

<%= link_to 'Editar', edit_ocorrencium_path(@ocorrencium) %> |
<%= link_to 'Voltar', ocorrencia_path %>
